@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" /> 
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout> 
    <MudAppBar Elevation="0" Style="height: 70px;background-color:transparent;backdrop-filter:blur(2px);">
        @*O menu so aparecera quando o site estiver na metade ou menor.*@
         <MudIconButton Class="d-flex d-md-none" Icon="@Icons.Material.Filled.Menu" Style="color:coral" Edge="Edge.Start" OnClick="@DrawerToggle" /> 
        
         @*Foi colocado um retorno pra home atras da Logo da pagina, junto com a estilização.*@
        <div class="home-link d-flex flex-column justify-center ml-2" >
        <MudLink Href="/" Underline="Underline.None" Typo="Typo.h4" Style=" color: coral !important;line-height: 1.2; font-weight: bold;">FitUP</MudLink>
        <MudText Typo="Typo.caption" Style=" color: coral;line-height:1;">Evoluindo com você!</MudText>
        </div>
        @*aqui é o inverso, os botões abaixo só aparecem quando a tela estiver maior e todos os botões tem os links das paginas. *@
        <div class="d-none d-md-inline-flex">
        <MudButton Class="ms-9 mt-2"Size="Size.Small" Style="color:coral; font-weight:900;" Href="MonteTreino">Monte o seu Treino</MudButton>
        <MudButton Class="ms-7 mt-2" Size="Size.Small" Style="color:coral; font-weight:900;" Href="DicasTreino">Dicas de Treino</MudButton>
        <MudButton Class="ms-7 mt-2" Size="Size.Small" Style="color:coral; font-weight: 900;" Href="weather">Ganho Máximo</MudButton>
        </div>
        <MudSpacer />
        @*Botões*@
        <MudButton Href="Login" Class="mt-2 ms-2 d-md-inline-flex" Style="background-color:coral;font-weight: 300;" Size="Size.Small">Entrar</MudButton>
        <MudButton Href="Cadastrar" Class="mt-2 ms-2 d-md-inline-flex" Style="background-color:coral; font-weight: 300" Size="Size.Small">Cadastrar</MudButton>

        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Style="color:coral" Class="mt-2"OnClick="@DarkModeToggle" />
    </MudAppBar>

    @*Função do menu de navegação onde ira aparecer quando tiver o botão Menu ativo. p*@
    <MudDrawer  @bind-Open="_open" ClipMode="DrawerClipMode.Always" Elevation="0" Variant="@DrawerVariant.Temporary" Style="background-color:transparent;backdrop-filter:blur(1px)">
        <NavMenu />
    </MudDrawer> 
    @*Imagem geral da pagina e responsivel nos tamanhos menores*@
    <MudMainContent Style="background: url('img/Home.png');background:cover; background-attachment:fixed; display: flex; flex-direction: column; min-height:100vh; ">

        <div style="flex-grow: 1">
            @Body
        </div>
        
        <footer class="py-4 mt-0">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
        <MudGrid Justify="Justify.Center">
            <MudDivider Style="--mud-palette-divider:coral;" Class="d-flex flex-column ml-6"></MudDivider>
            @* Seção 1: Branding e Redes Sociais *@
            <MudItem xs="12" md="4" Class="d-flex flex-column align-center "  >
                <div class ="home-link d-flex flex-column justify-center ml-2 ">
                <MudLink Href="/"  Underline="Underline.None" Typo="Typo.h4" Style="color:coral !important; line-height: 1.2; font-weight: bold; text-align:center">FitUP</MudLink>

                </div>
                <div class="d-flex gap-2">
                    <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Style="color:coral" Href="https://linktr.ee/LinkedInMembros" Target="_blank" />
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Style="color:coral" Href="https://github.com/Ianclrs/FitUP" Target="_blank" />
                    <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Style="color:coral" Href="https://linktr.ee/MembrosFitUp" Target="_blank" />
                            <MudIconButton Icon="@Icons.Material.Filled.Diversity3" Style="color:coral" Href="Indicacoes"></MudIconButton>
                </div>
            </MudItem>
            @* *@
        </MudGrid>
        @* Direitos Autorais *@
        <div class="d-flex flex-column justify-center flex-wrap">
            <MudText Typo="Typo.body2" Style="text-align:center; color:white">
                © @DateTime.Now.Year FitUP. Todos os direitos reservados.
            </MudText><br />
            <div class="d-flex gap-4 justify-center">
                <MudText Typo="Typo.body2" Style="color:white">Privacidade</MudText>
                <MudText Typo="Typo.body2" Style="color:white">Termos de Uso</MudText>
            </div>
        </div>
                
        </MudContainer>
        </footer>
        
    </MudMainContent>
</MudLayout>
    


@code {
    private bool _open = false;
    private bool _isDarkMode = true;
    private MudTheme? _theme;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            PaletteLight = _lightPalette,
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    private void DrawerToggle()
    {
        _open = !_open;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#ededed",
        Surface = "#bfbdbd",
        TextPrimary = "#000000",
        DrawerIcon = "#ff7f50",
        Black = "#000000",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        Warning = "#ff703d",
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = "#5e3103",
        Surface = "#1f1d1b",
        Background = "#000000",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#ffffff",
        TextSecondary = "#92929f",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#ff7f50",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = "#4a86ff",
        Success = "#3dcb6c",
        Warning = "#ff703d",
        Error = "#ff3f5f",
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.WbSunny,
        false => Icons.Material.Outlined.DarkMode,
    };
}
